/* ========================================= 
             MIXINS 
======================================== */

/* Lists */ 
@define-mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

/* Buttons */
@define-mixin button-base {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: var(--spacing-base) 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

@define-mixin button-hover-focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
  color: var(--color-white);
}

@define-mixin button-secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

@define-mixin button-disabled {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

@define-mixin button-disabled-hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}


/* Margins & Paddings */
@define-mixin padding-all $size {
  padding: var(--spacing-$(size));
}

@define-mixin padding-x $size {
  padding-left: var(--spacing-$(size));
  padding-right: var(--spacing-$(size));
}

@define-mixin padding-y $size {
  padding-top: var(--spacing-$(size));
  padding-bottom: var(--spacing-$(size));
}

@define-mixin margin-all $size {
  margin: var(--spacing-$(size));
}

@define-mixin margin-x $size {
  margin-left: var(--spacing-$(size));
  margin-right: var(--spacing-$(size));
}

@define-mixin margin-y $size {
  margin-top: var(--spacing-$(size));
  margin-bottom: var(--spacing-$(size));
}

@define-mixin padding-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

@define-mixin padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}

@define-mixin margin-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

@define-mixin margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}
