/* ========================================= 
             COLOR PALETTE 
======================================== */

:root {
  /* Lightened Hex Values */
  --brand-primary: #e04343;
  --brand-primary-lighter: #ed6d6d;
  --brand-primary-darker: #c91818;
  --brand-secondary: #3b5777;
  --brand-secondary-lighter: #577896;
  --brand-secondary-darker: #1a324d;
  --color-grey: #f2f2f2;
  --color-grey-lighter: #fbfbfb;
  --color-grey-darker: #e7e7e7;
  --color-khaki: #b4a685;
  --color-white: #ffffff;
  --color-black: #101216;
}
