/* ========================================= 
             BASE STYLES
======================================== */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a {
  &:any-link {
    color: var(--link-color);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
  }
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;

  svg {
    height: 100%;
    width: 100%;
  }
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;

  &.appear {
    display: unset;
  }
}
