/* ========================================= 
             TYPOGRAPHY VARIABLES
======================================== */

:root {
  --text-sm: calc(var(--text-base-size) * var(--text-scale-ratio) * 0.75);
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio) * 1);
  --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * 1.25);
  --text-body: var(--text-md);
}

/* ========================================= 
             HEADINGS
======================================== */
h1, .h1 {
  font-size: clamp(
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.75),
    4vw + var(--text-base-size),
    calc(var(--text-base-size) * var(--text-scale-ratio) * 3)
  );
  line-height: calc(var(--base-line-height) - 0.15);
  margin-bottom: var(--spacing-sm);
  font-weight: 700;
}

h2, .h2 {
  font-size: clamp(
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.5),
    3.5vw + var(--text-base-size),
    calc(var(--text-base-size) * var(--text-scale-ratio) * 2.5)
  );
  line-height: calc(var(--base-line-height) - 0.1);
  margin-bottom: var(--spacing-sm);
  font-weight: 500;
}

h3, .h3 {
  font-size: clamp(
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.25),
    3vw + var(--text-base-size),
    calc(var(--text-base-size) * var(--text-scale-ratio) * 2)
  );
  line-height: calc(var(--base-line-height) - 0.05);
  margin-bottom: var(--spacing-sm);
  font-weight: 500;
}

h4, .h4 {
  font-size: clamp(
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.125),
    2.5vw + var(--text-base-size),
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.75)
  );
  line-height: var(--base-line-height);
  margin-bottom: var(--spacing-sm);
  font-weight: 400;
}

h5, .h5 {
  font-size: clamp(
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1),
    2vw + var(--text-base-size),
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.5)
  );
  line-height: calc(var(--base-line-height) + 0.05);
  margin-bottom: var(--spacing-sm);
  font-weight: 400;
}

h6, .h6 {
  font-size: clamp(
    calc(var(--text-base-size) * var(--text-scale-ratio) * 0.875),
    1.5vw + var(--text-base-size),
    calc(var(--text-base-size) * var(--text-scale-ratio) * 1.25)
  );
  line-height: calc(var(--base-line-height) + 0.1);
  margin-bottom: 0.5rem;
  font-weight: 300;
}


/* ========================================= 
             SITE TYPOGRAPHY
======================================== */
body {
  font-family: var(--body-font-family);
  font-size: clamp(
    var(--min-font-size),
    calc(var(--text-base-size) + 1vw * (var(--max-font-size) - var(--min-font-size))),
    var(--max-font-size)
  );

  p {
    & a {
      color: var(--link-color);
  
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }

  b, strong {
    font-weight: 700;
  }
}
